@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{}

header{
    background-color: darkred;
}

main{
    background-color: rgba(139, 0, 0, 0.708);
}

h1{
    color: black;
}

#titulo{
    font-family: parisienne;
    text-align: center;
    font-size: 5em;
    color: white;
    background-color: darkred;
}

p{
    color: black;
}

#subtitulo{
    font-family: parisienne;
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: darkred;
}


img{
    text-align: center;
}

#imagemchamativa{}